HelloPushNotification/HelloPushNotification/bin/
HelloPushNotification/HelloPushNotification/obj/
HelloPushNotification/HelloPushNotification.Android/bin/
HelloPushNotification/HelloPushNotification.Android/obj/
HelloPushNotification/HelloPushNotification.iOS/bin/
HelloPushNotification/HelloPushNotification.iOS/obj/