<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.0" package="com.jpgl.hellopushnotification" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="HelloPushNotification.Android" android:theme="@style/MainTheme">
    <receiver android:name="com.onesignal.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <category android:name="com.jpgl.hellopushnotification" />
      </intent-filter>
    </receiver>
  </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="com.jpgl.hellopushnotification.permission.C2D_MESSAGE" />
	<permission android:name="com.jpgl.hellopushnotification.permission.C2D_MESSAGE" android:protectionLevel="signature" />
</manifest>